 <div class="search-box">
   <input class="search-box__input" placeholder="Search..." type="text"   id="" name="search"
     [(ngModel)]="searchText" autocomplete="off">
   <button type="submit" class="search-box__btn">
     <i class="fas fa-search"></i>
   </button>
 </div>
  <!-- filter header -->
  <h5>Categories</h5>
   <ul class="list list--vr-separator">
       <li class="link list__item" *ngFor="let hero of categorylist | filter:searchText">
     <i class="link__icon fas fa-angle-right"></i>{{hero.name}}
       </li>

   </ul>

 <!-- filter tags -->
 <div>
   <!-- filter header -->
   <h5>Tags</h5>
   <!-- filter tags -->
   <div class="tags">
     <span class="tag">Nike</span>
     <span class="tag">Travel</span>
     <span class="tag">Sport</span>
     <span class="tag">Tv</span>
     <br>
     <span class="tag">Books</span>
     <span class="tag">Tech</span>
     <span class="tag">Addidas</span>
     <span class="tag">Promo</span>
     <br>
     <span class="tag">Reading</span>
     <span class="tag">Social</span>
     <span class="tag">New</span>
     <span class="tag">Special</span>
     <br>
     <span class="tag">Food</span>
     <span class="tag">Used</span>
   </div>
 </div>

