  <div class="item-medium-1">
    <div class="item-medium-1__alert" *ngIf="productItem.dicount">Sale</div>
    <div class="item-medium-1__image image" style="background-image:url({{productItem.imageSrc}})">
      <a href="#" class="item-medium-1__action" (click)="onItemadd()">Add to Cart</a>
    </div>
    <a href="#">
      <h4>{{productItem.name}}</h4>
      <div class="flex-row">
        <div>
          <del *ngIf="productItem.dicount"> {{productItem.dicount}}</del>
          <span class="lable"> ${{calculatePrice()}}</span>
        </div>
      </div>
    </a>
    <div class="crud-actions">
      <a href="#"><i class="far fa-eye"></i></a>
      <a href="#"><i class="fas fa-edit"></i></a>
      <a href="#"><i class="fas fa-trash-alt"></i></a>
    </div>
  </div>