    <div class=" container">
      <form class="add-product" #productform=ngForm>
        <div class="add-product__images slider">
          <div class="add-product__image-actions">
            <div class="add-product__image-action">
              <a href="#"><i class="fas fa-plus-square"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="fas fa-trash-alt"></i></a>
            </div>
          </div>
          <div class="slider__items">
            <div class="slider__item active" style="background-image: url(img/products/product-grey-7.jpg)"></div>
            <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
            <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
          </div>
          <div class="slider__indicators">
            <span class="slider__indicator active"></span>
            <span class="slider__indicator"></span>
            <span class="slider__indicator"></span>
          </div>
        </div>
        <div class="add-product__data">
          <div class="form-controls">
            <section class="tabs">
              <div class="tabs__headers">
                <div class="tabs__header active">
                  English
                </div>
                <div class="tabs__header">
                  Arabic
                </div>
              </div>
              <div class="tabs__bodies">
                <div class="tabs__body active">
                  <div class="form-group" [ngClass]="{'invalid': nameInputElemet.invalid && nameInputElemet.touched}">
                    <label for="">Name</label>
                    <input #nameInputElemet=ngModel pattern="^[\u0621-\u064A\u0660-\u0669 ]+$" required class="form-control" type="text" ngModel
                      name="name" id=""
                      [ngModel]="editMode ?product.data[0].name : ''">
                  </div>
                 <span
                   *ngIf="nameInputElemet.invalid && nameInputElemet.touched && nameInputElemet.control.errors?.['required']">
                    this is required </span>
                  <span *ngIf="nameInputElemet.invalid && nameInputElemet.touched && nameInputElemet.control.errors?.['pattern']">
                    pls enter valid data</span>
                  <div class="form-group">
                    <label for="">Description</label>
                    <textarea required class="form-control" ngModel name="descrition" id=""
                     [ngModel]="editMode ? product.data[0].name : ''" cols="30" rows="4"></textarea>
                  </div>
                </div>
                <div class="tabs__body ">
                  <div class="form-group invalid">
                    <label for="">Name</label>
                    <input class="form-control" type="text" name="" id="">
                  </div>
                  <div class="form-group">
                    <label for="">Description</label>
                    <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                  </div>
                </div>
              </div>
            </section>

            <div class="form-group">
              <label for="">Price</label>
              <!-- banana in the box [(ngModel)] -->
              <input class="form-control" ngModel type="price" name="price" [ngModel]="editMode ?product.price : ''" id="">
            </div>
            <div class="add-product__discount">
              <div class="form-group">
                <label for="">Satus</label>
                <div class="form-group__radios">
                  <div class="form-group__radio"><input type="radio" name="" id=""><span>On Sale</span></div>
                  <div class="form-group__radio"><input type="radio" name="" id=""><span>Not On Sale</span></div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Discount</label>
                <input class="form-control" ngModel type="text" name="dicount"
                  [ngModel]="editMode ? product.dicount : '' " id="">
              </div>
            </div>
            <div class="form-group">
              <label for="">Payment Types</label>
              <div class="form-group__checkboxs">
                <div *ngFor="let payment of paymenttypes; let i=index; " class="form-group__checkbox"><input ngModel
                    (click)="onCheckBoxChanged(i)"  type="checkbox"
                    [name]="'checkbox_'+payment.id"
                    id=""><span>  {{payment.name}} </span>
                  </div>

              </div>
            </div>
            <div class="form-group">
              <label for="">Category</label>
              <select ngModel class="form-control" name="category" id="" [ngModel]="editMode ?product.category.id : ''">
                <option *ngFor="let category of categoryArray" [value]="category.id"> {{category.name}} </option>

              </select>
            </div>

            <div class="taged-textbox form-group">
              <label class="taged-textbox__lable" for="">Tags</label>
              <div class="taged-textbox__data">
                <div class="taged-textbox__tags">
                  <div *ngFor="let tag of tags" class="taged-textbox__tag"><span> {{tag.name}} </span><a href="#" class="taged-textbox__remove"><i
                        class="fas fa-times"></i></a></div>

                </div>
                <div class="taged-textbox__clear">
                  <a href="#"><i class="fas fa-times"></i></a>
                </div>
              </div>
              <input class="taged-textbox__textbox form-control" type="text" name="" id="" #taginput (keyup.enter)="tags.push( {name : taginput.value})">
            </div>
            <div class="add-product__actions">
              <button href="#" class="btn btn--gray">Cancel</button>
              <button [disabled]="!productform.valid" (click)="onaddproduct(nameInputElemet)" class="btn btn--primary">
               {{editMode ? 'Edit' : 'Add'}} </button>
            </div>
          </div>
        </div>
      </form>
    </div>
